<section class="port-container fade-in">

  <div class="port-item" id="communicant-img">
    <div class="port-overlay"></div>
    <div class="hover-text">
      <h2>Communicant</h2>
      <h3>An app designed to make communication between divorced couples with children both simple and safe.</h3>
      <a href="https://github.com/Communicant/app"><i class="fa fa-github"></i></a>
      <a href="https://communicant-app.herokuapp.com"><i class="fa fa-eye 2"></i></a>
    </div>
  </div>
  <div class="port-item" id="website-img">
    <div class="port-overlay"></div>
    <div class="hover-text">
      <h2>Portfolio Site</h2>
      <h3>You are here! This website was structured using Angular and Node.js in order to allow vistors to
        contact me directly through the site.
      </h3>
      <a href=""><i class="fa fa-star"></i></a>
    </div>
  </div>
  <div class="port-item" id="durham-murial">
    <div class="port-overlay"></div>
    <div class="hover-text">
      <h2>Murial for the Iron Yard Durham</h2>
      <h3>A graphic design piece inspired by the Durham campus of the Iron Yard</h3>
    </div>
  </div>
  <div class="port-item" id="buffalo-mountain">
    <div class="port-overlay"></div>
    <div class="hover-text">
      <h2>Buffalo Mountain</h2>
      <h3>A graphic design commission for a Native American clothing line.</h3>
    </div>
  </div>
  <div class="port-item" id="commissioned-logos">
    <div class="port-overlay"></div>
    <div class="hover-text">
      <h2>Logo Designs</h2>
      <h3>A collection of logo designs I've done for clients. Click to view more.</h3>
    </div>
  </div>
  <div class="port-item" id="appointments-app">
    <div class="port-overlay"></div>
    <div class="hover-text">
      <h2>Mock-Ups for an Appointments App</h2>
      <h3>Frames for a homework assignment that I helped structure for the Iron Yard at Durham.</h3>
    </div>
  </div>

</section><!--.port-container-->
