<section class="port-container fade-in">

  <div class="port-item" id="communicant-img">
    <div class="port-overlay"></div>
  </div>
  <div class="port-item">
    <div class="port-overlay"></div>
  </div>
  <div class="port-item">
    <div class="port-overlay"></div>
  </div>
  <div class="port-item">
    <div class="port-overlay"></div>
  </div>
  <div class="port-item">
    <div class="port-overlay"></div>
  </div>
  <div class="port-item">
    <div class="port-overlay"></div>
  </div>
  <div class="port-item">
    <div class="port-overlay"></div>
  </div>
  <div class="port-item">
    <div class="port-overlay"></div>
  </div>
  <div class="port-item">
    <div class="port-overlay"></div>
  </div>
  <div class="port-item">
    <div class="port-overlay"></div>
  </div>
  <div class="port-item">
    <div class="port-overlay"></div>
  </div>
  <div class="port-item">
    <div class="port-overlay"></div>
  </div>
  <div class="port-item">
    <div class="port-overlay"></div>
  </div>
  <div class="port-item">
    <div class="port-overlay"></div>
  </div>
  <div class="port-item">
    <div class="port-overlay"></div>
  </div>
  <div class="port-item">
    <div class="port-overlay"></div>
  </div>

</section><!--.port-container-->
