<section class="contact-container fade-in">
  <h2>Contact me through any of these!</h2>
  <a href="https://github.com/boshnivolo">GitHub</a>
  <a href="https://twitter.com/boshnivolo">Twitter</a>
  <a href="https://www.linkedin.com/in/jasmine-baik-ab6bb594">LinkedIn</a>
  <a href="mailto:boshnivolo@gmail.com">Gmail</a>

  <h2>Or feel free to send me a message through this form.</h2>
  <form class="contact-form">
    <label>Name</label><input class="submit-name"></input>
    <label>Email</label><input class="email"></input>
    <label>Message</label><textarea class="message"></textarea>
  </form><!--.contact-form-->
</section><!--.contact-container-->
