<section class="port-container fade-in">

  <aside class="portfolio-cats">
    <a href="#">Web Development</a>
    <a href="#">Graphic Design</a>
    <a href="#">Teaching Materials</a>
  </aside><!--.portfolio-cats-->

  <section class="port-items">

    <article id="web-dev">
      <div class="port-item">
        <h3 class="port-title">Communicant</h3>
        <p>Communicant is an app designed to make communication between
          divorced couples with children both simple and safe by supplying a
          way to update each other through type-specific inputs.
          I worked inside a Rails Application by integrating AngularJS inside.
          Developed the UI and UX with JavaScript, jQuery, and AJAX while
          refining the design with Sass.</p>
      </div><!--.port-item-->
    </article><!--#web-dev-->

    <article id="gra-des">
      <div class="port-item">
      </div><!--.port-item-->
    </article><!--#gra-des-->

    <article id="tea-mat">
      <div class="port-item">
      </div><!--.port-item-->
    </article><!--#tea-mat-->

  </section><!--.port-items-->

</section><!--.port-container-->
